/* Importacion de fuente Ghotam */
@font-face {
    
  font-family: 'Gotham-ut';
  src: url('../fonts/ut/Gotham-Book.eot');
  src: url('../fonts/ut/Gotham-Book.woff2') format('woff2'),
       url('../fonts/ut/Gotham-Book.woff') format('woff'),
       url('../fonts/ut/Gotham-Book.ttf') format('truetype'),
       url('../fonts/ut/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/ut/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body{
     font-family: "Gotham-ut";
     background-color: #eaeaea;
}

.row.col-md-8{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.ut-icon{
  font-size: 20px;
}
.nav-log{
    position: relative;
    margin-top: -9px
}
/* agregando padiing alas etiquetas */
.col-lg-12{
    margin: 2px 0
}
@media screen and (max-width: 680px) {
    .col-lg-12{
    padding: 9px 0 0 0;
    margin: 1px 0
    }
}
section{
    padding: 50px 0 50px 0;
}


/* informacion principal */
.conte-prin a{
    text-decoration: none;
    outline-style: none; 
}
.tex-prin p{
    font-weight: 500;
    font-size: 14px
}
.conte-prin{
    padding: 18px 6px;
    height: 313px;
}
.col-md-4{
    margin: 18px 0px;
}
.conten-icon{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  position: relative;
  color: rgb(65, 78, 106);
  background: #fff;
  font-size: 50px;
  text-align: center !important;
  padding-top: 0;
  line-height: normal;
  padding-top: 21px;
  overflow: hidden;
  border: 4px solid rgb(65, 78, 106);
  -webkit-transition: background 1.2s;
	-moz-transition: background 1.2s;
	transition: background 1.2s
}
.conten-icon:hover{
    color: #FFF;
    background: rgb(4, 129, 139);
    border-color: rgb(4, 129, 139);
    -webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
/* Comienza la rotación*/
@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg)
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}
/* nuestras carreras */
.bordermm { /* border */
    border: 1px solid #dedede;
    border-radius: 20px 20px 0 0;
   /* width: 100%;
    height: 470px*/
}
.cont-carreras h4{
    font-weight: 600;
}
.cont-carreras{
    border-radius: 20px;
    color: #fff;
    padding: 18px;
    margin: 0 auto;
    width: 75%;
    height: 185px;
    text-align: center;
}

.cont-carreras{
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration:250ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration:250ms;
  

}
.cont-carreras:hover{
  -webkit-transform: scale(1.14,1.14);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration:100ms;
  -moz-transform: scale(1.14,1.14);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration:100ms;

}

/* secion de plan de estudios */
.plan-section{
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.9em;
}

/* tsu y ingenería colores de fondo */
.tsu-tic{
    background-color: #6a6a6a; /* Azul de tic*/
}
.ing-tic{
    background-color: #0781c1;
}
.tsu-conta{
    background-color: #103339; /* negro azul de conta*/
}
.ing-fif{
    background-color: #0f1c24;
}
.tsu-dn{
    background: #54162f; /* Vino de Desarrollo de negicios*/
}
.ing-dn{
    background: #c41f58;
}
.icon-carreras{
    font-size: 68px;
}
.borderrr{
    background-color: #fff;
}
/* Section Slider noticias*/
#section-noti{
    padding: 90px 0;
    background-color: rgb(4, 173, 167);
    color: #FFF;
}
.carrusel-noti{
    width: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 770px) {
   .carrusel-noti{
    width: 90%;
    margin: 0 auto;
    } 
}
@media screen and (max-width: 680px) {
   .carrusel-noti{
    width: 100%;
    margin: 0 auto;
    } 
}
@media screen and (max-width: 460px) {
   .carrusel-noti{
    width: 90%;
    margin: 0 auto;
    } 
}
.carru-cont {
    margin: 0 auto;
    padding: 0 22px;
}
.carru-cont img{
    margin: 0 auto;
}
.carru-cont p{
    z-index: 7;
    text-align: justify;
    font-size: 16px;
    font-weight: 600
}
.carru-cont p a{
    color: rgb(65, 78, 106);
    font-weight: 500;
}
/* Footer */
.footer-ut{
    padding-top:50px;
    background-color: rgb(66, 66, 66);
    background-size: 100% 100%;
    color: #FFF;
    box-shadow: rgba(0,0,0,.4) 0px 0px 20px;
    text-shadow: rgba(0,0,0,.5) 0px 0px 10px;
    border-top-left-radius:60px; 
    border-top-right-radius:60px;
    background-image: url(../img/footer/Footer.png);
}

.container-footer{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60%;
}





.s-footer{
    font-size: 16px;
    font-weight: 600
}
.redes-sociales {
    margin: 0 auto;
    position: relative;
    list-style-position: inherit;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    z-index: 1
}
/* Footer y Redes Sociales*/
.redes-sociales{
    width: 100%;
    display: block;
    margin-top: 40px;
    text-align: center;
    color: #fff
}
.redes-sociales .icon-hv{ 
    color: #FFF;
    position: relative;
    font-size: 30px;
    margin: 0 10px 0 0;
    padding: 10px;
    text-align: center;
    border: 3px solid #FFF;
    border-radius: 100%;
    vertical-align: middle;
    text-decoration: none;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	  -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	  transition: background 0.3s, color 0.3s, box-shadow 0.3s
}
@media screen and (max-width: 460px){
    .redes-sociales .icon-hv{
        margin: 0 4px 0 0;
    }
}
.redes-sociales .icon-hv:after{
    display: none;
    color: #FFF
}
.redes-sociales .icon-facebook:hover{
    background: rgb(59, 89, 152);
	color: #FFF;
    border-color: rgb(59, 89, 152);
	box-shadow: 0 0 0 8px rgba(59, 89, 152,0.5)
}
.redes-sociales .icon-twitter:hover{
    background: rgb(85, 172, 238);
	color: #FFF;
    border-color: rgb(85, 172, 238);
	box-shadow: 0 0 0 8px rgba(85, 172, 238,0.5)
}
.redes-sociales .icon-youtube:hover{
    background: rgb(187, 0, 0);
	color: #FFF;
    border-color: rgb(187, 0, 0);
	box-shadow: 0 0 0 8px rgba(187, 0, 0,0.80)
}
.redes-sociales .icon-mail:hover{
    background: rgb(255, 255, 255);
    color: #000;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 8px rgba(255, 255, 255,0.3)
}
.fds{
    padding: 20px 0 1px 0;
    width: 100;
    position: relative;
    font-weight: 600
}
/* Sliders */
.cont-slider {
    position: relative;
    float: left;
    width: 100%;
  }
.centered-btns_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 40%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../img/themes.gif") no-repeat left top;
    margin-top: 0;
    z-index: 4
  }
.centered-btns_nav:hover{
    opacity: 1.0;
}
.centered-btns_nav:active {
    opacity: 1.0;
  }
.centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
  }
.centered-btns_nav:focus{
    outline: none;
  }
.centered-btns_tabs{
    position: relative;
    display: block;
    text-align: center;
    z-index: 4;
    margin-top: -40px;
    margin-bottom: 40px;
  }
.centered-btns_tabs li{
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 10px;
  }
.centered-btns_tabs a{
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: rgba(255,255,255,1);
    display: inline-block;
    _display: block;
    *display: block;
    border: 4px solid #fff;
    width: 18px;
    height: 18px;
    position: relative;
  }
.centered-btns_here a{
    background: rgb(10, 84, 93);
    border: 0 solid #fff
  }
.conte-slider{
  position: absolute;
  display: block;
  z-index: 8;
  font-size: 20px;
	text-shadow: none;
	color: #fff;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 359px;
	text-align: center;
}
.text-slider{
    top: -10%;
}
.textto p{
    background:  rgba(11, 132, 123, 0.9);
    padding: 12px;
    font-size: 40px;
    border-radius: 5px;
}
/* Formulario Estilo Material Desaing*/
.formulario-group {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}
.formulario-group input {
    height: 30px
}
.formulario-group textarea {
    resize: none
}
.control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #717171;
    font-size: 16px;
    font-weight: 800;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease
}
.formulario-group .bar {
    position: relative;
    border-bottom: 2px solid #414141;
    display: block
}
.formulario-group .bar::before {
    content: '';
    height: 4px;
    width: 0;
    left: 50%;
    bottom: -2px;
    position: absolute;
    background: #08b0b7;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2
}
.formulario-group input,
.formulario-group textarea {
    display: block;
    background: none;
    padding: 0.175rem 0.175rem 0.0625rem;
    font-size: 16px;;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none
}
.formulario-group input[type="file"] {
    line-height: 1
}
.formulario-group input[type="file"] ~ .bar {
    display: none
}
.formulario-group input:focus,
.formulario-group input:valid,
.formulario-group input.form-file,
.formulario-group input.has-value,
.formulario-group textarea:focus,
.formulario-group textarea:valid,
.formulario-group textarea.form-file,
.formulario-group textarea.has-value {
    color: #000
}
.formulario-group input:focus ~ .control-label,
.formulario-group input:valid ~ .control-label,
.formulario-group input.form-file ~ .control-label,
.formulario-group input.has-value ~ .control-label,
.formulario-group textarea:focus ~ .control-label,
.formulario-group textarea:valid ~ .control-label,
.formulario-group textarea.form-file ~ .control-label,
.formulario-group textarea.has-value ~ .control-label {
    font-size: 9px;
    color: #017970;
    font-weight: 600;
    top: -1rem;
    left: 0
}
.formulario-group input:focus,
.formulario-group textarea:focus {
    outline: none
}
.formulario-group input:focus ~ .control-label,
.formulario-group textarea:focus ~ .control-label {
    color: #e60b0b
}
.formulario-group input:focus ~ .bar::before,
.formulario-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0
}
.impor-rojo{
    font-weight: 600;
    color: red
}
.btn-container-formu {
  text-align: center;
}
.btn-m {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 14px;
  color: #019aa7;
  margin: 10px 0;
  padding: 8px 18px;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn-m span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.btn-m::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #019aa7;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
.btn-m:hover {
  color: #037d88;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.btn-m:active::before, .btn-m:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.btn-m:focus {
  outline: none;
}
/* Volver hacia Arriaba ^ */
.navbar-fixed-top + .content-container {
	margin-top: 80px;
}
.content-container {
	margin: 0 130px;
}
#top-link-block.affix-top {
    position: absolute;
    bottom: -82px;
    right: 10px;
}
#top-link-block.affix {
    position: fixed; 
    bottom: 18px;
    right: 10px;
    z-index: 60
}
#top-link-block {
    width: 46px;
    height: 46px;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
    font-size: 30px;
    background-color: rgba(0,0,0,.6);
}
#top-link-block:hover{
    background-color: rgba(7, 120, 124,89);
}
@media screen and (max-width: 680px) {
  #top-link-block:active{
    background-color:  rgba(0,0,0,.6);
    }  
    #top-link-block:hover{
    background-color:  rgba(0,0,0,.6);
    }
}
/* Centrar la calumnas de bootstrap */
.col-center{
  display: table;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}
.border{
  background-color:#fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  padding: 24px;
  margin: 15px 0 15px 0;
  border-top-right-radius: 60px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;  
  border: 2px solid #0EE1CC;
}
.borde-bottum{
  border-top-right-radius: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;  
      
  background-color: rgba(54, 125, 131, 0.274);
  padding-bottom: 10px;
}
.borde-left{
  border-left: 6px solid rgb(4,126,137);
  display: block;
  padding-left: 16px;
}
/*pagina de directorio*/
.borderr{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
    padding: 12px 0 84px 0;
    
}

.conte-direc{
  border: 1px solid #CCC;
  border-bottom: 6px solid rgb(65, 78, 106);
  border-radius: 12px 12px 0 0;
  padding: 10px 4px 20px 4px;
  width: 100%;
  height: 270px;
  -webkit-transition: left 0.28s ease, border 0.18s ease;
  transition: left 0.28s ease, border 0.18s ease;
}
.conte-direc p{
  font-weight: 600;
  font-size: 18px;
}
.conte-direc:hover{
  border-bottom: 9px solid rgb(18, 142, 142);
}
.colo-direc{
    background: #00bf8f;
    background: -webkit-linear-gradient(to right, #00bf8f, #001510);
    background: linear-gradient(to right, #00bf8f, #001510);
    
 /* background-color: rgb(1, 160, 167); 1, 160, 167*/
  width: 100%;
  height: 660px;
  position: absolute;
  display: block;
  z-index: -2;
  margin-top: -480px;
}
/* Reglamentos */
#reglamentos{
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%
}
.conte-info-re{
  padding: 32px 20px;
  width: 100%;
  height: 740px;
  overflow: auto;
  background-color: #F6F4F4;
  border-bottom: 1px solid #F6F4F4;
  border-right: 1px solid #F6F4F4;
  border-left: 1px solid #F6F4F4;
}
.conte-info-re h2, p span{
    font-weight: 600;
}
@media screen and (max-width: 460px) {
  .conte-info-re{
    height: 560px;
  }
}
.borde-n{
  border-bottom: 4px solid rgb(4,126,137);
  padding-bottom: 4px
}
/* titulacion */
.titulacion h3{
  color: rgb(65,78,106);
  font-weight: 600;
  border-left: 6px solid rgb(4,126,137);
  padding-left: 12px
}
/*becas*/
.con-esta{
  width: 100%;
  height: 490px;
}
.con-estadia p a,
.con-esta p a{
  color: rgb(4,126,137);
}
/* Plan de estudios tsu, ing */
.cd-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
@media only screen and (min-width: 1170px) {
  #timeline-oferta h1 {
    font-size: 24px;
  }
}
#cd-timeline {
  position: relative;
  padding: 30px 0;
  margin-top: 70px;
  margin-bottom: 40px;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 38px;
  height: 100%;
  width: 9px;
  background: #efefef; /* color de la lien vertical */
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline-block {
  position: relative;
  margin: 30px 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 40px 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 0 4px #f4eeee, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img p {
  display: block;
  width: 100px;
  height: auto;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -49px;
  margin-top: -30px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 900;
}
@media screen and (min-width: 370px) {
    .cd-timeline-img p{
        width: 80px;
        height: auto;
        font-size: 12px;
        margin-left: -40px;
        margin-top: -17px;
    } 
}
.cd-timeline-img.cd-gren {
  background: #4ed989;
}
.cd-timeline-img.cd-red {
  background: #a2262f;
}
.cd-timeline-img.cd-blue {
  background: #1a8cd3;
}
.cd-timeline-img.cd-yelow{
    background-color: #cfd868;
}
.cd-timeline-img.cd-purple{
    background-color: purple;
}
.cd-timeline-img.cd-otro{
    background-color: #076283
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 120px;
    height: 120px;
    left: 47.4%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 90px;
  background: #fafafa;
  border-radius: 0.25em;
  padding: 10px;
  border: 1px solid #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;

  border-top-right-radius: 60px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content p{
  font-size: 14px;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.1;
  font-size: 14px;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 100%;
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-right: 9px solid #d7e4ed; /* jkgfhgdhgcghdcdhgcdhgcddg */
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 42.6%;
    border-top-right-radius: 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    border-color: #2CBEB4; 
  }
  .cd-timeline-content::before {
    top: 48px;
    left: 100%;
    border-color: transparent;
    border-left-color: #d7e4ed;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 48px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #d7e4ed;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
  }
}          
.lista-des{                                  /* Lista de descaraga */
    font-size: 16px;
    color: #03645c;
}
.lista-des a{
    color: #0a897f;
    font-size: 16px
}
/* Botones */
.btn-descarga{
  padding: 8px 6px;
  margin: 2px;
  background-color: darkcyan;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  border-bottom: 4px solid #006a77;
}
.btn-descarga:hover{
  background-color: #027c7c;
  text-decoration: none;
  border-bottom: 4px solid #00505a;
}
.btn-descarga:active, .btn-descarga:focus{
  text-decoration: none;
    
}
/* Oferta Educativa */
.oferta-edu{
  background-image: url(../img/Sliders/slider-0-1.jpg);
}
.oferta-educativa{
  padding: 20px 2px 20px 2px;
  /*background-color: rgb(1, 160, 167);*/
  
  background: #00bf8f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00bf8f, #001510); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00bf8f, #001510);
  
  color: #fff;
  
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px; 
  
}
.oferta-educativa h1{
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.panel-body a{
  color: #414e6a;
  text-decoration: none;
  font-size: 18px;
}
.panel-body a:hover{
  color: rgb(1, 160, 167);
  text-decoration: underline;
}
.panel-body a i{
  text-align: center;
  font-size: 38px;
  color: rgb(1, 160, 167);
}
.panel-body a i:hover{
  background: rgba(255, 255, 255, .6);
}
/* Visitas Industriales */

#visitas-indus{
  padding-top: 0;
}
#visitas-indus .container-fluid{
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
#visitas-indus .container-fluid .col-md-4{
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}
/* Movilidad Estudiantil */
#movilidad-es{
  background-image: url(../img/movilidad/map.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
/* Efectotos hover */
.pic {
    width:100%;
    height:auto;
    position:relative;
    overflow:hidden;
    display:inline-block;
    -webkit-animation:anima 2s;
    -moz-animation:anima 2s;
    -o-animation:anima 2s;
    -ms-animation:anima 2s;
    animation:anima 2s;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden
}
.pic-caption {
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(5, 112, 114, 0.92);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    display: flex;
  align-items: center;
  justify-content: center;
}

.pic-icon {
    font-size: 40px;
    color: #fff;
}
.pic  .pic-caption, .pic:hover .pic-caption {
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    transition:all 0.5s ease
}
.pic:hover .left-to-right {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -moz-touch-callout:none;
    -o-touch-callout:none;
    -ms-touch-callout:none;
    touch-callout:none;
    -webkit-tap-highlight-color:transparent;
    -moz-tap-highlight-color:transparent;
    -o-tap-highlight-color:transparent;
    -ms-tap-highlight-color:transparent;
    tap-highlight-color:transparent
}
.left-to-right {
  margin: 0;
  padding: 0;
    top:0;
    right:50%
}
.pic:hover .left-to-right {
    right:0;
    top:0
}
/* parallax */
.parallax-ut{
  width: 100%;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed;
  position: relative;
}
.parallax-ut2{
  width: 100%;
  height: 510px;
  background-repeat: no-repeat;
  background-position: 0 0;
  object-fit: cover;
  background-size: cover;
}
.colo{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.15);
}
/* Login (incio de sesion)*/
.login{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.login .colo{
  background-color: rgba(0,0,0,.53);
}
.icon-login-er{
  font-size: 24px;
  font-weight: 700;
}
.alerta-login, .alerta-regitro, .cargador-login, .cargador-regitro{
  display: none;
}
.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #BAB6B6;
}
.form-control:focus{
  border-color: #05897E !important;
  box-shadow: none;
}
/* Registro */
#regitro{
  width: 100%;
  height: 100%;
  background-color: #EDECEC
}
.has-error .form-control, .has-success .form-control{
  box-shadow: none !important;
}
.has-seccess{
  box-shadow: none !important;
}
.has-error .form-control:focus, .has-success .form-control:focus{
  box-shadow: none !important;
}

.widget-title {
  border-top-right-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 5px;

  background-color: rgba(0, 0, 0, 0.199);
  margin-bottom: 15px;
  padding-bottom: 0;
  text-align: center;
}

.widget-title span{
  border: 1;
  font: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
.single-article {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius:20px;
}

.entry-title {
  padding: 10px 0 0;
  font-size: 18px;
  margin-top: 0px;
  color: black;
}

.entry-title:hover {
  color:rgb(6, 196, 213);
}

.entry-content {
  border: 0;
  font: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.single-article a {
  color: rgb(4,126,137);
  text-decoration: none;
}

.single-article a:hover {
  color: rgb(6, 196, 213);
  text-decoration: none;
}

.leermas {
  color: rgb(4,126,137);
  text-decoration: none;
}

.leermas:hover {
  color: rgb(6, 196, 213);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0px!important;
  }
}

.containervideos {
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.containervideos2 {
  display: block;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 100%;
  position: absolute;
}

.description a {
  color: rgb(4,126,137);
  text-decoration: none;
}

.description a:hover {
  color: rgb(6, 196, 213);
  text-decoration: none;
}

.grid-nav-top {
    text-align: center;
}

.nav-search {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
}

.search {
  background: rgb(255, 255, 255) url(../img/search.png) no-repeat scroll 4px 6px;
  border: 1px solid #ddd;
  border-radius: 0;
  display: inline-block;
  height: 30px;
  padding-left: 35px;
  vertical-align: top;
  margin-bottom: 20px;
  width: 300px;
}

.article-content {
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius:20px;
}

.article-content a {
  color: rgb(4,126,137);
  text-decoration: none;
}

.article-content a:hover {
  color: rgb(6, 196, 213);
  text-decoration: none;
}

.article-content .entry-title {
  padding: 5px 0 0;
  font-size: 30px;
  color: black;
}

.row .single-article a {
  color: black;
}

.row .single-article a:hover {
  color: rgb(6, 196, 213);
  text-decoration: ;
}

.enlaces {
  color: black;
}

.enlaces:hover {
  color: rgb(6, 196, 213);
  text-decoration: ;
}