.container-formu {
  max-width: 40rem;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 3rem 5rem 0;
  border-radius: 1px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: box-shadow 0.28s ease, -webkit-transform 0.28s ease;
  transition: box-shadow 0.28s ease, -webkit-transform 0.28s ease;
  transition: box-shadow 0.28s ease, transform 0.28s ease;
  transition: box-shadow 0.28s ease, transform 0.28s ease, -webkit-transform 0.28s ease;
}
.container-formu:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}
.btn-container-formu {
  text-align: center;
}
.formulario-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline > .formulario-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.formulario-group input {
  height: 1.9rem;
}
.formulario-group textarea {
  resize: none;
}
.control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.formulario-group .bar {
  position: relative;
  border-bottom: 1px solid #017781;
  display: block;
}
.formulario-group .bar::before {
  content: '';
  height: 0.135rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.formulario-group input,
.formulario-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.formulario-group input[type="file"] {
  line-height: 1;
}
.formulario-group input[type="file"] ~ .bar {
  display: none;
}
.formulario-group input:focus,
.formulario-group input:valid,
.formulario-group input.form-file,
.formulario-group input.has-value,
.formulario-group textarea:focus,
.formulario-group textarea:valid,
.formulario-group textarea.form-file,
.formulario-group textarea.has-value {
  color: deeppink;
}
.formulario-group input:focus ~ .control-label,
.formulario-group input:valid ~ .control-label,
.formulario-group input.form-file ~ .control-label,
.formulario-group input.has-value ~ .control-label,
.formulario-group textarea:focus ~ .control-label,
.formulario-group textarea:valid ~ .control-label,
.formulario-group textarea.form-file ~ .control-label,
.formulario-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gold;
  top: -1rem;
  left: 0;
}
.formulario-group input:focus,
.formulario-group textarea:focus {
  outline: none;
}
.formulario-group input:focus ~ .control-label,
.formulario-group textarea:focus ~ .control-label {
  color: #337ab7;
}
.formulario-group input:focus ~ .bar::before,
.formulario-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}
.btn-m {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #4f93ce;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn-m span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.btn-m::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
.btn-m:hover {
  color: #337ab7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.btn-m:active::before, .btn-m:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.btn-m:focus {
  outline: none;
}